<template>
  <div id="app">
      <router-view/>
  </div>
   
</template>
<script>
    export default {
        data() {
            return {

            }
        },
        created() {

        },

    }
</script>
<style>
    * {
        font-size: 12px;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body,
    html,
    #app {
        height: 100%;
    }
    
    li {
        list-style: none;
    }
</style>