<template>
    <div>
    <ul class="ul">
        <li v-for='item in colorarr' :style='{background:item}' @click='changecolor(item)'></li>
    </ul>
      </div>
    </div>
  </template>
<script scoped>
    export default {
        data() {
            return {
                colorarr: ['#ff1b1b', '#4fbcff', 'aqua', 'green', 'blue', '#184e6d']
            }
        },
        methods: {
            changecolor(color) {
                window.eventBus.$emit('otherbrother', color)
            }
        },
        // props: ['size', 'color']
    }
</script>
<style lang="scss" scoped>
    .ul {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    li {
        list-style: none;
        width: 15%;
        height: 20px;
        border-radius: 3px;
    }
</style>