<template>
    <div class="child">
      <!-- <input type="text" @input='changeval' :value='value'> -->
      <!-- <input type="range" max='50' min='12' @input='changesize'> -->
      <!-- <input type="range" max='50' min='12' v-model='size'> -->
      <p>小{{min}}</p>
        <div class="parent" ref='parent'> 
            <span class="small" :style='{width:left+"px"}'></span>
            <p class="diose" ref='diose' :style='{left:left+"px"}'></p>
            <span class="length" ref='length'></span>
        </div>
      <p>大{{max}}</p>
    </div>
  </template>
<script>
    export default {
        props: ['value', 'min', 'max', 'defaultsize'],
        data() {
            return {
                // size: 12,
                left: 0,
                val: 0
            }
        },
        mounted() {
            this.left = (this.defaultsize - this.min) * this.$refs.length.clientWidth / this.max;
            this.addTouch()
        },
        watch: {
            val(newvalue) {
                this.$emit('getsize', newvalue)
            },
            // size(newval) {
            //     this.$emit("input", newval)
            // }
        },

        methods: {
            addTouch() {
                const diose = this.$refs.diose;
                // const length = this.$refs.length;
                const lengthwidth = this.$refs.length.clientWidth
                let dragflag = false;
                diose.addEventListener('touchstart', (e) => {
                    dragflag = true;
                }, false)
                diose.addEventListener('touchmove', (e) => {
                    if (dragflag) {
                        this.left = e.changedTouches[0].pageX - this.$refs.parent.offsetLeft;
                        if (this.left > lengthwidth) {
                            this.left = lengthwidth
                        } else if (this.left <= 0) {
                            this.left = 0
                        }
                        this.val = Math.floor(this.left * (this.max - this.min) / lengthwidth) + this.min * 1;
                        if (this.val > this.max) {
                            this.val = this.max
                        }
                        // console.log(this.$refs.parent.offsetLeft, 89)
                    }
                }, false)
                diose.addEventListener('touchend', () => {
                    dragflag = false;
                }, false)

            },
            changeval(e) {
                this.$emit("input", e.target.value)
            },
            changesize(e) {
                this.$emit("input", e.target.value)
            },
        },
    }
</script>
<style scoped>
    .child {
        margin: 5px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .parent {
        width: 200px;
        flex-shrink: 0;
        height: 100px;
        position: relative;
        height: 2px;
    }
    
    .small {
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;
    }
    
    .diose {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: aqua;
        position: absolute;
        left: 0;
        top: -20px;
        z-index: 10;
    }
    
    .length {
        width: 100%;
        height: 2px;
        background: #ccc;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .small {
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;
        background: red;
        z-index: 2;
    }
</style>