<template>
    <div class="food">
        <header>头部 </header>
       <div class="section">
        <left/>
        <right/>
      </div>
      <btn class="button"/>
      <mymark/>
    </div>
</template>
<script>
    import left from './components/left';
    import right from './components/right';
    import btn from './components/bottom';
    import mymark from './components/mark';

    import {
        mapState
    } from 'vuex';
    export default {
        components: {
            left,
            right,
            btn,
            mymark
        },
        created() {
            this.$store.dispatch('getdatasync', '/getdata')

        },
        data() {
            return {

            }
        },
        computed: {},
        methods: {

        },
    }
</script>
<style scoped>
    header {
        height: 40px;
        flex-shrink: 0;
        text-align: center;
        line-height: 40px;
        position: relative;
        z-index: 10;
        background: #fff;
    }
    
    .food {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    
    .section {
        display: flex;
        flex: 1;
    }
    
    .button {
        position: fixed;
        bottom: 0;
        z-index: 9;
    }
</style>