<template>
    <div class="div">
      字体大小是 {{size}} px  
      <!-- <child v-if='flag' v-model='size'/> -->
      <!-- <button @click='flag=true'>控制input是否显示</button> -->
      <!-- <btn :givechild.sync='flag'/> -->
      <childsize v-if='flag' @getsize='size=arguments[0]' max='50' min='12' :defaultsize='size'/>
      <childcolor/>
      <childtext :size='size' color='red'/>
      <!-- <router-link/> -->
    
    </div>
     
  </template>
<script>
    import childsize from './components/childsize.vue'
    import childcolor from './components/childcolor.vue'
    import childtext from './components/childtext.vue'
    export default {
        data() {
            return {
                flag: true,
                size: 36,
            }
        },
        created() {

        },
        components: {
            childsize,
            childcolor,
            childtext,
            btn: {
                props: ['givechild'],
                template: `
                   <button @click='$emit("update:givechild", true)'>控制input是否显示</button>
                `,
                methods: {
                    s() {
                        this.$emit("update:givechild", true)
                    }
                },
            }
        }
    }
</script>
<style scoped>
    * {
        margin: 0;
        padding: 0;
    }
    
    h6 {
        margin-top: 60px;
    }
    
    .div {
        /* position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          background: aqua; */
    }
</style>