<template>
    <div class="button">
       <div class="left">
         <p> 总数  {{allcountprice.count}}</p>
         <p>总价 {{allcountprice.price}}</p>
         <!-- {{this.$store.getters.allcountprice.count}} -->
       </div>
       <div class="right">去结算</div>
    </div>
  </template>
<script>
    import {
        mapState,
        mapGetters
    } from 'vuex'
    export default {
        data() {
            return {}
        },
        computed: {
            ...mapGetters(['allcountprice']) //只能是数组
        },
        created() {},

    }
</script>
<style scoped>
    .button {
        flex-shrink: 0;
        width: 100%;
        height: 44px;
        display: flex;
        align-items: center;
    }
    
    .left {
        flex: 1;
        height: 44px;
        background: #505051;
    }
    
    .right {
        line-height: 44px;
        width: 20%;
        height: 44px;
        background: #51d668;
        color: #fff;
        text-align: center;
    }
</style>