<template>
  <ul class="left">
                                                       <!-- :class="{active :defaultindex == index}"  -->
      <li v-for='(item,index) in categoryList' :key='index' :class='index==defaultindex?"active":null' @click='changebc(index)' ><span v-if='item.bigcount'>{{item.bigcount}}</span><p>{{item.categoryName}}</p></li>
  </ul>
</template>
<script>
    import {
        mapState
    } from 'vuex';
    export default {
        created() {
            // console.log(this.categoryList, 78)
            this.bus.$on('getright', index => {
                this.defaultindex = index
            })
        },
        data() {
            return {
                defaultindex: 0
            }
        },
        computed: {
            // ...mapState({ //对象参数
            //     categoryList: (state) => state.categoryList
            // })
            ...mapState(['categoryList']) //可以数组，可以对象
        },
        methods: {
            changebc(index) {
                this.defaultindex = index;
                // console.log(document.querySelector("#app").scrollTop, 70)
                // document.querySelector("#app").scrollTop = 70
                // document.querySelector("#app").scrollTop = this.$el.querySelector(selector).offsetTop;
                eventBus.$emit('giveborther', index)
            },
        },
    }
</script>
<style scoped>
    .left {
        width: 25%;
        flex-shrink: 0;
        background: #f8f8f8;
        margin-right: 3px;
    }
    
    .left li {
        line-height: 36px;
        text-align: center;
        border-bottom: #ececec 1px solid;
        position: relative;
    }
    
    li span {
        width: 18px;
        height: 18px;
        background: #fe3f16;
        border-radius: 50%;
        line-height: 18px;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .active {
        background: #fff!important;
    }
</style>