<template>
  <div class="mark">
     <ul class="ols">
       <li v-for='itm in allcountprice.shopcarlist'  class="smallli">
          <div class="imgcontent"><img :src="itm.littleImageUrl" alt=""></div>
          <div class="textcontent">
              <h6 class="title">{{itm.spuName}}</h6>
              <span>{{itm.spuDesc}}</span>
              <div class="bot"><p class="price">￥{{itm.currentPrice}}</p><div class="button"><span class="del" @click='changenum({type:"del",tag:itm.tag,spuId:itm.spuId})' v-if='itm.smallcount'>-</span><b v-if='itm.smallcount' class="smallcount">{{itm.smallcount}}</b><span class="add" @click='changenum({type:"add",tag:itm.tag,spuId:itm.spuId})'>+</span></div></div>
          </div>
       </li>
     </ul>
  </div>
</template>

<script>
    import {
        mapMutations
    } from 'vuex';
    import BScroll from 'better-scroll';
    import {
        mapGetters
    } from 'vuex';
    export default {
        data() {
            return {

            }
        },
        computed: {
            ...mapGetters(['allcountprice'])
        },

        methods: {
            ...mapMutations(['changenum']),
        },

    }
</script>
<style scoped>
    .mark {
        position: absolute;
        bottom: 44px;
        left: 0;
        background: rgba(0, 0, 0, .6);
    }
    
    .ols .smallli {
        display: flex;
        margin: 5px 0;
        align-items: center;
        color: #fff;
    }
    
    .smallcount {
        color: red;
    }
    
    .ols .smallli img {
        width: 60px;
        display: block;
        margin-right: 5px;
    }
    
    .bot {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .bot .button {
        display: flex;
        align-items: center;
    }
    
    .bot span {
        text-align: center;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
    }
    
    .bot span.add {
        background: #2395ff;
        color: #fff;
    }
    
    .bot span.del {
        color: #2395ff;
        border: 1px solid #2395ff;
    }
    
    .bigli>p {
        border-bottom: 1px solid #ccc;
        line-height: 2
    }
    
    .price {
        color: #ff6601;
        font-size: 14px;
        font-weight: 900;
    }
</style>