<template>
    <div ref='bigright' class="right">
        <ul>
            <li v-for='(item,index) in categoryList' class="bigli">
                <p ref='scrollTo'>{{item.categoryName}}</p>
                <ol class="ols">
                    <li v-for='itm in item.spuList' class="smallli">
                        <div class="imgcontent"><img :src="itm.littleImageUrl" alt=""></div>
                        <div class="textcontent">
                            <h6 class="title">{{itm.spuName}}</h6>
                            <span>{{itm.spuDesc}}</span>
                            <div class="bot"><p class="price">￥{{itm.currentPrice}}</p><div class="button"><span class="del" @click='changenum({type:"del",tag:item.tag,spuId:itm.spuId})' v-if='itm.smallcount'>-</span><b v-if='itm.smallcount' class="smallcount">{{itm.smallcount}}</b><span class="add" @click='changenum({type:"add",tag:item.tag,spuId:itm.spuId})'>+</span></div></div>
                        </div>
                    </li>
                </ol>
            </li>
        </ul>
    </div>
  </template>
<script>
    import {
        mapState,
        mapActions,
        mapMutations
    } from 'vuex';
    import BScroll from 'better-scroll';
    export default {
        data() {
            return {}
        },
        created() {
            this.$nextTick(() => {
                let scroll = new BScroll(this.$refs.bigright, { //此元素只有一个孩子
                    click: true,
                    probeType: 2
                })
                eventBus.$on('giveborther', (index => { //ref跟for是有冲突的 ， 所以必须ref在异步函数里面使用  才能拿得到
                    scroll.scrollToElement(this.$refs.scrollTo[index], 2000)
                        // console.log(this.$refs.act17[0].offsetTop, 666)
                        // this.$refs.act17[0].style.offsetTop = 0;
                        // this.$refs.bigright.scrollTop = this.$refs.act17[0].offsetTop
                }));
                scroll.on('scroll', (res) => {
                    this.$refs.scrollTo.forEach((item, index) => {
                        if (item.offsetTop < Math.abs(res.y) && Math.abs(res.y) < item.offsetTop + item.parentNode.clientWidth) {
                            this.bus.$emit('getright', index)
                        }
                    })
                })
            })
        },

        computed: {
            ...mapState({
                categoryList: (state) => state.categoryList
            })
        },
        methods: {
            ...mapMutations(['changenum']),
        },
    }
</script>
<style scoped>
    .right {
        height: 100%;
        overflow: hidden;
    }
    
    .ols .smallli {
        display: flex;
        margin: 5px 0;
        align-items: center;
    }
    
    .smallcount {
        color: red;
    }
    
    .ols .smallli img {
        width: 60px;
        display: block;
        margin-right: 5px;
    }
    
    .bot {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .bot .button {
        display: flex;
        align-items: center;
    }
    
    .bot span {
        text-align: center;
        width: 24px;
        height: 24px;
        line-height: 24px;
        border-radius: 50%;
    }
    
    .bot span.add {
        background: #2395ff;
        color: #fff;
    }
    
    .bot span.del {
        color: #2395ff;
        border: 1px solid #2395ff;
    }
    
    .bigli>p {
        border-bottom: 1px solid #ccc;
        line-height: 2
    }
    
    .price {
        color: #ff6601;
        font-size: 14px;
        font-weight: 900;
    }
</style>